<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
	                       http://www.springframework.org/schema/beans/spring-beans.xsd   ">

 <bean id="broadcastResultMergeService" class="com.github.dubbo.provider.demo.service.impl.BroadcastResultMergeServiceImpl" />

 <import resource="classpath:/dubboPractice-provider/dubboBroadcast-resultMerge/spring-dubbo-provider.xml"/>
</beans>