<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="65 seconds">

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-16(%d{MM-dd HH:mm:ss.SSS}) %-5thread %-5level %logger{1} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="defaultAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home}/logs/java-concurrent.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.home}/logs/java-concurrent.log.%d{yyyy-MM-dd}</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%-16(%d{MM-dd HH:mm:ss.SSS}) %-5thread %-5level %logger{1} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="defaultAppender" />
		<appender-ref ref="stdout" />
	</root>
</configuration>  
