<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="BankCardDao">
	<resultMap type="BankCard" id="baseResultMap">
		<id property="cardId" column="card_id" />
		<result property="identityId" column="identity_id" />
		<result property="bankAccountNo" column="bank_account_no" />
		<result property="accountName" column="account_name" />
		<result property="certNo" column="cert_no" />
		<result property="phoneNo" column="phone_no" />
	</resultMap>

	<sql id="all_column">
		card_id,identity_id,bank_account_no,account_name,cert_no,phone_no
	</sql>

	<insert id="insert_bank_card" parameterType="BankCard" useGeneratedKeys="true" keyProperty="cardId">
		insert into bank_card(identity_id,bank_account_no,account_name,cert_no,phone_no)
		values(#{identityId},#{bankAccountNo},#{accountName},#{certNo},#{phoneNo})
	</insert>
	
	<select id="selectReturnMap" parameterType="Long" resultMap="baseResultMap">
		select <include refid="all_column"/>
		from bank_card
		where card_id=#{cardId}
	</select>
	
	<select id="selectReturnType" parameterType="Long" resultType="BankCard" >
		select <include refid="all_column"/>
		from bank_card
		where card_id=#{cardId}
	</select>

</mapper>