<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		                     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		                     version="3.0"
		                     metadata-complete="false">

	<filter>
		<filter-name>spring4CompositeFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>spring4CompositeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>